body{
    width: 100%;
    background-image: url("realistic-polygonal-background_52683-60029.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.cc1{
	font-family:"Times New Roman",serif;
    color: whitesmoke;
    font-size:15px;
}
#cc2{
font-family:"Times New Roman",serif;
    color: whitesmoke;
    font-size:15px;
}
.cc3{
font-family:"Times New Roman",serif;
    color: whitesmoke;
    font-size:15px;
}
#cc4{
	font-family:"Times New Roman",serif;
    color: whitesmoke;
    font-size:15px;
}