body{
    width: 100%;
    background-image: url("realistic-polygonal-background_52683-60029.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
table{
  border: 2px solid black;
  border-collapse: collapse;
  color: whitesmoke;
}
h1{
  font-size: 32px;
    font-family:"Times New Roman",serif;
    color: whitesmoke;
    text-transform: uppercase;
}


